@import "tailwindcss";
@plugin "daisyui";



@theme{
  --color-primary:#04ae2b 
}
@layer utilities {
  @keyframes mesh-move-1 {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(-20%, -10%) scale(1.3); }
  }

  @keyframes mesh-move-2 {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(20%, 10%) scale(1.3); }
  }

  .animate-mesh-1 {
    animation: mesh-move-1 12s ease-in-out infinite;
    background: radial-gradient(circle at center, #003300, #014d01, #00ff66);
  }

  .animate-mesh-2 {
    animation: mesh-move-2 15s ease-in-out infinite;
    background: radial-gradient(circle at center, #003300, #014d01, #00ff66);
  }
}